<!-- Header -->
    <a name="about"></a>
    <div class="intro-header" id="top">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Jennifer Vossen</h1>
                        <h3>Full-Stack Development with a UX Perspective</h3>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <!-- <li>
                                <a href="resume.pdf" class="btn btn-default btn-lg"><i class="fa fa-download fa-fw"></i> <span class="network-name">Resume</span></a>
                            </li> -->
                            <li>
                                <a href="https://www.linkedin.com/in/jsvossen" class="btn btn-default btn-lg" target="_blank"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">LinkedIn</span></a>
                            </li>
                            <li>
                                <a href="https://github.com/jsvossen" class="btn btn-default btn-lg" target="_blank"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->

	<a  name="portfolio"></a>
    <section class="content-section-a" id="portfolio">

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="clearfix"></div>
                    <h1 class="section-heading text-center">Portfolio</h1>

                    <project-list></project-list>

                </div>
            </div>

        </div>
        <!-- /.container -->

    </section>
    <!-- /.content-section-a -->

    <section class="content-section-b" id="about">

        <div class="container">

            <div class="row">
                <div class="col-lg-6 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h1 class="section-heading">About Jessa</h1>
                    <p class="lead">I'm a web developer with full-stack experience and a background in Human-Computer Interaction.</p>
                    <p>Human-Computer Interaction is a combination of computer science, psychology, and design and looks at how people use interfaces and technology. This multidisciplinary background gives me a broad perspective for unique solutions.
                    <p>I have experience in front- and back-end development, including React and Node.js, as well as Photoshop, interaction design, game design, photography and writing.</p>
                    <ul class="list-inline about-social-buttons">
                            <!-- <li>
                                <a href="resume.pdf" class="btn btn-default"><i class="fa fa-download fa-fw"></i> <span class="network-name">Resume</span></a>
                            </li> -->
                            <li>
                                <a href="https://www.linkedin.com/in/jsvossen" class="btn btn-default" target="_blank"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">LinkedIn</span></a>
                            </li>
                            <li>
                                <a href="https://github.com/jsvossen" class="btn btn-default" target="_blank"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                            </li>
                        </ul>
                </div>
                <div class="col-lg-5 col-sm-6 col-lg-offset-1">
                    <div class="bs-callout bs-callout-primary">
                        <h4>Front-End Development</h4>
                        <ul class="list-inline">
                            <li>React</li>
                            <li>Chakra</li>
                            <li>HTML5</li>
                            <li>CSS3/SCSS</li>
                            <li>Typescript/Javascript</li>
                        </ul>
                    </div>
                    <div class="bs-callout bs-callout-success">
                        <h4>Back-End Development</h4>
                        <ul class="list-inline">
                            <li>Node.js</li>
                            <li>AWS</li>
                            <li>Postgres</li>
                            <li>MySQL</li>
                            <li>Firebase</li>
                        </ul>
                    </div>
                    <div class="bs-callout bs-callout-warning">
                        <h4>User Experience</h4>
                        <ul class="list-inline">
                            <li>Wireframing</li>
                            <li>Prototyping</li>
                            <li>Contextual inquiry</li>
                            <li>Flow modeling</li>
                            <li>Heuristic evaluation</li>
                            <li>Think-alouds</li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </section>
    <!-- /.content-section-b -->

    <section class="content-section-a" id="contact">

        <div class="container">

            <div class="row">
                <div class="col-md-8 col-sm-12 col-md-offset-2">
                    <div class="clearfix"></div>
                    <h1 class="section-heading text-center">Contact</h1>
                    
                    <iframe
                      id="JotFormIFrame"
                      allowtransparency="true"
                      src="https://form.jotform.com/61854993280264?nojump"
                      frameborder="0"
                      style="width:100%;
                      height:539px;
                      border:none;"
                      scrolling="no">
                    </iframe>

                </div>
            </div>

        </div>
        <!-- /.container -->

    </section>
    <!-- /.content-section-a -->